<nav class="navbar navbar-dark bg-primary">
  <a class="container-logo navbar-brand" href="/">
    <img class="container-logo_image" src="/img/logo.png" />
    <h1 class="container-logo_title">I Have a Question!</h1>
  </a>
</nav>
