<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("partials/header.ejs")%>
  <body>
    <%- include("partials/navbar.ejs")%>
    <div class="container pb-4">
      <div
        class="d-flex align-items-center justify-content-between pb-2 mt-4 mb-4 border-top border-bottom border-primary"
      >
        <h1>Perguntas</h1>
        <a class="btn btn-primary center" href="/question"
          >Tenho uma pergunta!</a
        >
      </div>

      <% questions.forEach(question => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h3><%= question.title %></h3>
        </div>
        <div class="card-footer">
          <a href="/question/<%=question.id%>">
            <button class="btn btn-primary">Responder</button>
          </a>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
