<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src=""></script>
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
      defer
    ></script>
    <script defer src="/js/bootstrap.min.js"></script>
    <title>I Have a Question!</title>
  </head>

  <body>
    <div class="container">
      <div class="container-logo">
        <img class="container-logo_image" src="/img/logo.png" />
        <h1 class="container-logo_title">I Have a Question!</h1>
      </div>

      <h3 class="question_title">Realizar pergunta</h3>

      <form>
        <label>Título</label>
        <input class="form-control mb-4" type="text" placeholder="Título" />
        <label>Descrição</label>
        <textarea
          class="form-control mb-4"
          placeholder="Descreva sua pergunta."
        ></textarea>
        <button class="btn btn-primary">Perguntar</button>
      </form>
    </div>
  </body>
</html>
