body {
  background-color: #eceff1;
}

.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.container-logo_image {
  object-fit: contain;
  height: auto;
  width: 70px;
}

.container-logo_title {  
  font-size: 1rem;
  margin: 0;
}

.question_title {
  padding: 2px;
  margin: 20px 0;
  display: inline-block;
  border-bottom: 1.5px solid #ddd;

}

